* {
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  color:white;
}

#mechanics {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}